.root {
    -fx-background-color: #219EBC;
    -fx-font-size: 20pt;
    -fx-font-family: "Times New Roman";
}

.label {
    -fx-text-fill: #FD9E02;
}

.button {
    -fx-background-color: #FD9E02;
    -fx-background-radius: 15;
}

#exit {
    -fx-background-color: #023047;
}


